* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;

  background: #080d18;
  color: #f8fafc;
}

button,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #080d18;
}

body::-webkit-scrollbar-thumb {
  background: #26344d;
  border-radius: 10px;
}